<ion-header>
  <ion-toolbar>
    <ion-title>formacionAcademica</ion-title>
  </ion-toolbar>
</ion-header>
<ion-buttons	slot="start">	
			<ion-back-button	defaultHref="/tabs/tab1"></ion-back-button>	
</ion-buttons>

<ion-content>
	<header>
		<h1>formaion academica</h1>

	</header>
	<body>
		<div>
		<h2>primaria</h2>
		<p>2012 acabe primaria en la salle irun</p>
		<hr>
		<h2>ESO</h2>
		<p>2013-2014 la salle Irun</p>
		<p>2014-2015 instituto bidebieta</p>
		<hr>
		<h2>estudios de bachiller</h2>
		<p>2017-2018  IES usandizaga </p>
		<hr>
		<h2>estudios de fp superior</h2>
		<p>2018-2019  zubiri manteo (desarrollo aplicaciones web)</p>
		<p>actualmente sigo estudiando y estoy en el primer curso</p>
		<p>que terminara en 2020</p>
		</div>





	</body>

</ion-content>
