<ion-header>
  <ion-toolbar>
    <ion-title>
      Andres Rojas Perez
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/gente.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>curriculum vitae</ion-card-subtitle>
        <ion-card-title>informacion personal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Me llamo Andres Rojas, tengo 21 años, vivo en San Sebastian (intxaurrondo/paseo de Mons/20015). actualmente estoy estudiando el primer curso  grado superior de desarrollo me aplicaciones web (D.A.W) en el Zubiri manteo</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>menu</ion-label>
      </ion-list-header>
      <ion-item href="http://localhost:8100/formacion-academica">
        <ion-icon slot="start" color="medium" name="filing"></ion-icon>
        <ion-label>formacion academica</ion-label>
      </ion-item>
      <ion-item href="http://localhost:8100/esperiencia-profesional">
        <ion-icon slot="start" color="medium" name="hammer"></ion-icon>
        <ion-label>esperiencia profesional</ion-label>
      </ion-item>
      <ion-item href="http://localhost:8100/idiomas">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>idiomas</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label></ion-label>
      </ion-item>
    </ion-list>
</ion-content>
